{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- this is eevee css --}}
<link rel="stylesheet" href="https://s3.qiufengh.com/blog/eevee.css">

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<header class="site-header outer {{#if @blog.cover_image}}" style="background-image: url({{@blog.cover_image}}){{else}}no-cover{{/if}}">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                {{#if @blog.logo}}
                    <img class="site-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
                {{else}}
                    {{@blog.title}}
                {{/if}}
            </h1>
            <h2 class="site-description">{{@blog.description}}</h2>
        </div>
        {{> "site-nav"}}
    </div>
</header>

{{!-- The main content area --}}
<main id="site-main" class="site-main-index outer">
    <div class="inner">

        <div class="post-feed">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>

    </div>
</main>

<div class="eevee">
    <div class="body">
        <div class="head">
            <div class="ears">
                <div class="ear">
                    <div class="lobe"></div>
                </div>
                <div class="ear">
                    <div class="lobe"></div>
                </div>
            </div>
            <div class="face">
                <div class="eyes">
                    <div class="eye">
                        <div class="eyelid"></div>
                    </div>
                    <div class="eye">
                        <div class="eyelid"></div>
                    </div>
                </div>
                <div class="nose"></div>
                <div class="mouth"></div>
            </div>
        </div>
        <div class="chest">
            <div class="fur">
                <div class="patch"></div>
            </div>
            <div class="fur">
                <div class="patch"></div>
            </div>
            <div class="fur">
                <div class="patch"></div>
            </div>
        </div>
        <div class="legs">
            <div class="leg">
                <div class="inner-leg"></div>
            </div>
            <div class="leg">
                <div class="inner-leg"></div>
            </div>
            <div class="leg">
                <div class="inner-leg"></div>
            </div>
            <div class="leg">
                <div class="inner-leg"></div>
            </div>
        </div>
        <div class="tail">
            <div class="tail">
                <div class="tail">
                    <div class="tail">
                        <div class="tail">
                            <div class="tail -end"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>